body {
			font-family:'Gentium Basic';
			font-size:15pt;
			background-color:#243551;
			color:white;
			background-image:url("./background-15.jpg");
			font-weight:bold;
		}
	.row {
			margin-left:0px;
			margin-top:-35px;
		}
		a:active, a:focus {
			outline:none;
		}
		#adab:active, #adab:focus {
			outline:none;
		}
		.adab {
			position:absolute;
			top:0px;
			text-decoration:none;
			text-decoration:none;
			left:882px;
	}
	.fnt {
		color:white;
	}
	.d {
		font-size:14pt;
	}
		small {
			font-size: 14pt;
			visibility:hidden;
			color:red;
		}
		.button {
			padding: 5px 15px;
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: white;
			background-color: #4CAF50;
			border: none;
			border-radius: 5px;
			box-shadow: 0 4px #999;
		}

		.button:hover {background-color: #3e8e41}

		.button:active {
			background-color: #3e8e41;
			box-shadow: 0 5px white;
			transform: translateY(4px);
		}

		#title {
			margin-top:80px;
		}
		.about1 {
			float:right;
			margin-top:-110px;
			margin-right:-100px;
		}
		#Btn
			{
				color: white;
				background:none;
				border:none;
				margin-top:15px;
				margin-left:-170px;
			}
			/* The Modal (background) */
			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				padding-top: 100px; /* Location of the box */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
				 /* Fallback color */
				background-color: #243551; /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
				color:black;
				background-color: white;
				margin: auto;
				padding: 20px;
				border: 1px solid #888;
				width: 80%;
			}

			/* The Close Button */
			.close {
				color: black;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover,
			.close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
			.box h1{
				text-align:left;
				color:black;
				margin-top:30px;
			}
			.box {
				width:70%;
				height:200px;
				background:#FFF;
				margin:40px auto;
			}

			/*==================================================
			 * Effect 7
			 * ===============================================*/
			.effect7
			{
				position:relative;
				background-color:white;
				color:black;
				border:2px;
				border-radius:5px;
				top:150px;
			}

			#pname {
				margin-left:40px;
				margin-top:50px;
				border:2px solid #7CB9E8;
				border-radius:5px;
				font-family:'Gentium Basic';
			}
			.button1 {
				padding: 5px 15px;
				font-size: 18px;
				text-align: center;
				cursor: pointer;
				outline: none;
				color: white;
				background-color: #4CAF50;
				border: none;
				border-radius: 5px;
				box-shadow: 0 4px #999;
			}

			.button1:hover {background-color: #3e8e41}

			.button1:active {
				background-color: #3e8e41;
				box-shadow: 0 5px white;
				transform: translateY(4px);
			}
