		.row {
			margin-left:0px;
			margin-top:-35px;
		}
		a:active, a:focus {
			outline:none;
		}
		#adab:active, #adab:focus {
			outline:none;
		}
		.adab {
			position:absolute;
			top:-1px;
			text-decoration:none;
			left:828px;
		}
		small {
			font-size: 10pt;
			visibility:hidden;
			color:red;
		}
		.button {
			padding: 5px 15px;
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: white;
			background-color: #4CAF50;
			border: none;
			border-radius: 5px;
			box-shadow: 0 4px #999;
		}

		.button:hover {background-color: #3e8e41}

		.button:active {
			background-color: #3e8e41;
			box-shadow: 0 5px white;
			transform: translateY(4px);
		}
		
		#title {
			margin-top:120px;
		}
		.about1 {
			float:right;
			margin-top:-110px;
			margin-right:-100px;
		}
		#webname {
			font-size:20pt;
			position:absolute;
			top:40px;
			left:110px;
		}